In [9]:
# iterable

In [9]:
seq='ACGTTTTTGCAAA'  # you can somehow treat string like a list： iterable
n_gc=0
len_seq=0

for base in seq:
    len_seq+=1
    if base in 'GgCc':
        n_gc+=1
        print('now we have '+str(n_gc)+' bases')
    else:
        print('nops')
    print("---")
        
n_gc/len_seq

nops
---
now we have 1 bases
---
now we have 2 bases
---
nops
---
nops
---
nops
---
nops
---
nops
---
now we have 3 bases
---
now we have 4 bases
---
nops
---
nops
---
nops
---

0.3076923076923077

In [10]:
my_list=[1,2,3,4,5]

In [11]:
my_list[0]*=2

In [12]:
my_list

[2, 2, 3, 4, 5]

In [13]:
for n in my_list:
    n*=2    # list 没影响
my_list

[2, 2, 3, 4, 5]

In [14]:
# range() is a iterator, cheaper in memory
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
len(my_list),len(seq)

(5, 13)

In [17]:
for i in range(len(my_list)):
    my_list[i]*=2
my_list

[4, 4, 6, 8, 10]

In [20]:
for i in range (2,10):
    print(i,end=' ')

2 3 4 5 6 7 8 9

In [21]:
for i in range (2,10):
    print(i)

2
3
4
5
6
7
8
9

In [22]:
for i in range (2,10,2):
    print(i,end=' ')

2 4 6 8

In [25]:
seq='ACGTTTTTGCAAA'  
for i,base in enumerate(seq):
    print(i,base,seq[i])

0 A A
1 C C
2 G G
3 T T
4 T T
5 T T
6 T T
7 T T
8 G G
9 C C
10 A A
11 A A
12 A A

In [24]:
enumerate(seq)   # iterator:tuple
list(enumerate(seq))

(<enumerate at 0x10c995ca8>,
 [(0, 'A'),
  (1, 'C'),
  (2, 'G'),
  (3, 'T'),
  (4, 'T'),
  (5, 'T'),
  (6, 'T'),
  (7, 'T'),
  (8, 'G'),
  (9, 'C'),
  (10, 'A'),
  (11, 'A'),
  (12, 'A')])

In [26]:
my_list

[4, 4, 6, 8, 10]

In [27]:
for i,element in enumerate(my_list):
    my_list[i]*=2
my_list

[8, 8, 12, 16, 20]

In [ ]:
# strings are iterable, but not immutable

In [28]:
names=('apple','banana','orange')
positions=('mf','mf','f')
numbers=(10,12,17)

for num,pos,name in zip(names,positions,numbers):
    print(num,pos,name)

apple mf 10
banana mf 12
orange f 17

In [2]:
# reversed or list.reverse() will return a list reversed, but is also a iterator
bet=('a','b','c')
for letter in reversed(bet):
    print(letter)

c
b
a

In [37]:
start='AUG'
i=0
while seq[i:i+3]!= start and i < len(seq):
    i+=1