In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/frog_tongue_adhesion.csv', comment='#')

In [9]:
df.head()

,date,ID,trial number,impact force (mN),impact time (ms),impact force / body weight,adhesive force (mN),time frog pulls on target (ms),adhesive force / body weight,adhesive impulse (N-s),total contact area (mm2),contact area without mucus (mm2),contact area with mucus / contact area without mucus,contact pressure (Pa),adhesive strength (Pa)
0,2013_02_26,I,3,1205,46,1.95,-785,884,1.27,-0.290,387,70,0.82,3117,-2030
1,2013_02_26,I,4,2527,44,4.08,-983,248,1.59,-0.181,101,94,0.07,24923,-9695
2,2013_03_01,I,1,1745,34,2.82,-850,211,1.37,-0.157,83,79,0.05,21020,-10239
3,2013_03_01,I,2,1556,41,2.51,-455,1025,0.74,-0.170,330,158,0.52,4718,-1381
4,2013_03_01,I,3,493,36,0.80,-974,499,1.57,-0.423,245,216,0.12,2012,-3975

In [11]:
#a)
df.loc[df['adhesive strength (Pa)']< -2000,'impact time (ms)']

0      46
1      44
2      34
4      36
7      46
8      50
11     48
13     31
14     38
17     60
19     40
23     59
24     33
25     43
27     31
29     42
31     57
33     21
35     29
37     31
38     15
39     42
42    105
44     29
45     16
47     31
49     32
50     30
51     16
52     27
53     30
54     35
55     39
57     34
59     34
60     26
61     20
62     55
65     33
66     74
67     26
68     27
69     33
71      6
73     31
74     34
75     38
78     33
Name: impact time (ms), dtype: int64

In [16]:
#b) Extract the impact force and adhesive force for all of Frog II's strikes.
df.loc[df['ID']== 'II',('impact force (mN)','adhesive force (mN)')]

    impact force (mN)  adhesive force (mN)
20               1612                 -655
21                605                 -292
22                327                 -246
23                946                 -245
24                541                 -553
25               1539                 -664
26                529                 -261
27                628                 -691
28               1453                  -92
29                297                 -566
30                703                 -223
31                269                 -512
32                751                 -227
33                245                 -573
34               1182                 -522
35                515                 -599
36                435                 -364
37                383                 -469
38                457                 -844
39                730                 -648

In [19]:
# cï¼‰
df.loc[df['ID']== ('III' or 'IV'),('time frog pulls on target (ms)','adhesive force (mN)')]

    time frog pulls on target (ms)  adhesive force (mN)
40                             683                  -94
41                             245                 -163
42                             619                 -172
43                            1823                 -225
44                             918                 -301
45                            1351                  -93
46                            1790                 -131
47                            1006                 -289
48                             883                 -104
49                            1218                 -229
50                             910                 -259
51                             550                 -231
52                            2081                 -267
53                             376                 -178
54                             289                 -123
55                             607                 -151
56                            2932                 -127
57                             680                 -372
58                             685                 -236
59                            1308                 -390

In [21]:
# 2
#a) standard deviation of the impact forces for each frog.
grouped_by_ID=df.groupby('ID')

In [23]:
grouped_by_ID['impact force (mN)'].std()

ID
I      630.207952
II     424.573256
III    124.273849
IV     234.864328
Name: impact force (mN), dtype: float64

In [26]:
# b) 
import numpy as np
def coeff_of_var(data):
    return np.std(data) / np.mean(data)

In [28]:
grouped_by_ID['impact force (mN)','adhesive force (mN)'].agg(coeff_of_var)

     impact force (mN)  adhesive force (mN)
ID
I             0.401419            -0.247435
II            0.585033            -0.429701
III           0.220191            -0.415435
IV            0.546212            -0.308042

In [46]:
df_mini=grouped_by_ID['impact force (mN)','adhesive force (mN)'].agg([coeff_of_var,np.std,np.mean,np.median])
df_mini

    impact force (mN)                              adhesive force (mN)  \
         coeff_of_var         std     mean  median        coeff_of_var
ID
I            0.401419  630.207952  1530.20  1550.5           -0.247435
II           0.585033  424.573256   707.35   573.0           -0.429701
III          0.220191  124.273849   550.10   544.0           -0.415435
IV           0.546212  234.864328   419.10   460.5           -0.308042


            std    mean median
ID
I    167.143619 -658.40 -664.5
II   203.811600 -462.30 -517.0
III   88.122448 -206.75 -201.5
IV    83.309442 -263.60 -233.5

In [29]:
grouped_by_ID['impact force (mN)','adhesive force (mN)'].describe()

    impact force (mN)                                                        \
                count     mean         std    min      25%     50%      75%
ID
I                20.0  1530.20  630.207952  473.0  1231.25  1550.5  1904.75
II               20.0   707.35  424.573256  245.0   422.00   573.0   799.75
III              20.0   550.10  124.273849  324.0   458.75   544.0   615.75
IV               20.0   419.10  234.864328   22.0   198.00   460.5   599.00

            adhesive force (mN)                                            \
        max               count    mean         std    min     25%    50%
ID
I    2641.0                20.0 -658.40  167.143619 -983.0 -770.75 -664.5
II   1612.0                20.0 -462.30  203.811600 -844.0 -611.25 -517.0
III   806.0                20.0 -206.75   88.122448 -390.0 -261.00 -201.5
IV    815.0                20.0 -263.60   83.309442 -456.0 -333.00 -233.5


        75%    max
ID
I   -524.00 -430.0
II  -257.25  -92.0
III -130.00  -93.0
IV  -214.25 -139.0

In [39]:
grouped_by_ID.describe?

Signature: grouped_by_ID.describe(**kwargs)
Docstring:
Generates descriptive statistics that summarize the central tendency,
dispersion and shape of a dataset's distribution, excluding
``NaN`` values.

Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided. Refer to the notes
below for more detail.

Parameters
----------
percentiles : list-like of numbers, optional
    The percentiles to include in the output. All should
    fall between 0 and 1. The default is
    ``[.25, .5, .75]``, which returns the 25th, 50th, and
    75th percentiles.
include : 'all', list-like of dtypes or None (default), optional
    A white list of data types to include in the result. Ignored
    for ``Series``. Here are the options:

    - 'all' : All columns of the input will be included in the output.
    - A list-like of dtypes : Limits the results to the
      provided data types.
      To limit the result to numeric types submit
      ``numpy.number``. To limit it instead to object columns submit
      the ``numpy.object`` data type. Strings
      can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      select pandas categorical columns, use ``'category'``
    - None (default) : The result will include all numeric columns.
exclude : list-like of dtypes or None (default), optional,
    A black list of data types to omit from the result. Ignored
    for ``Series``. Here are the options:

    - A list-like of dtypes : Excludes the provided data types
      from the result. To exclude numeric types submit
      ``numpy.number``. To exclude object columns submit the data
      type ``numpy.object``. Strings can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      exclude pandas categorical columns, use ``'category'``
    - None (default) : The result will exclude nothing.

Returns
-------
summary:  Series/DataFrame of summary statistics

Notes
-----
For numeric data, the result's index will include ``count``,
``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
upper percentiles. By default the lower percentile is ``25`` and the
upper percentile is ``75``. The ``50`` percentile is the
same as the median.

For object data (e.g. strings or timestamps), the result's index
will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
is the most common value. The ``freq`` is the most common value's
frequency. Timestamps also include the ``first`` and ``last`` items.

If multiple object values have the highest count, then the
``count`` and ``top`` results will be arbitrarily chosen from
among those with the highest count.

For mixed data types provided via a ``DataFrame``, the default is to
return only an analysis of numeric columns. If the dataframe consists
only of object and categorical data without any numeric columns, the
default is to return an analysis of both the object and categorical
columns. If ``include='all'`` is provided as an option, the result
will include a union of attributes of each type.

The `include` and `exclude` parameters can be used to limit
which columns in a ``DataFrame`` are analyzed for the output.
The parameters are ignored when analyzing a ``Series``.

Examples
--------
Describing a numeric ``Series``.

>>> s = pd.Series([1, 2, 3])
>>> s.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0

Describing a categorical ``Series``.

>>> s = pd.Series(['a', 'a', 'b', 'c'])
>>> s.describe()
count     4
unique    3
top       a
freq      2
dtype: object

Describing a timestamp ``Series``.

>>> s = pd.Series([
...   np.datetime64("2000-01-01"),
...   np.datetime64("2010-01-01"),
...   np.datetime64("2010-01-01")
... ])
>>> s.describe()
count                       3
unique                      2
top       2010-01-01 00:00:00
freq                        2
first     2000-01-01 00:00:00
last      2010-01-01 00:00:00
dtype: object

Describing a ``DataFrame``. By default only numeric fields
are returned.

>>> df = pd.DataFrame({ 'object': ['a', 'b', 'c'],
...                     'numeric': [1, 2, 3],
...                     'categorical': pd.Categorical(['d','e','f'])
...                   })
>>> df.describe()
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Describing all columns of a ``DataFrame`` regardless of data type.

>>> df.describe(include='all')
        categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              f      NaN      c
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
25%            NaN      1.5    NaN
50%            NaN      2.0    NaN
75%            NaN      2.5    NaN
max            NaN      3.0    NaN

Describing a column from a ``DataFrame`` by accessing it as
an attribute.

>>> df.numeric.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: numeric, dtype: float64

Including only numeric columns in a ``DataFrame`` description.

>>> df.describe(include=[np.number])
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Including only string columns in a ``DataFrame`` description.

>>> df.describe(include=[np.object])
       object
count       3
unique      3
top         c
freq        1

Including only categorical columns from a ``DataFrame`` description.

>>> df.describe(include=['category'])
       categorical
count            3
unique           3
top              f
freq             1

Excluding numeric columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.number])
       categorical object
count            3      3
unique           3      3
top              f      c
freq             1      1

Excluding object columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.object])
        categorical  numeric
count            3      3.0
unique           3      NaN
top              f      NaN
freq             1      NaN
mean           NaN      2.0
std            NaN      1.0
min            NaN      1.0
25%            NaN      1.5
50%            NaN      2.0
75%            NaN      2.5
max            NaN      3.0

See Also
--------
DataFrame.count
DataFrame.max
DataFrame.min
DataFrame.mean
DataFrame.std
DataFrame.select_dtypes
File:      /anaconda3/lib/python3.6/site-packages/pandas/core/groupby/groupby.py
Type:      method

In [47]:
df.plot

In [48]:
grouped_by_ID.plot

In [49]:
grouped_by_ID.plot?

Type:        property
String form: <property object at 0x10f7f75e8>
Docstring:   Class implementing the .plot attribute for groupby objects